` This is a test KDL document.
` KDL is the Kestrel Definition Language.

@out {
	"Testing declaration syntax for KDL"
}

declare SpriteAnimation {
	
	` Define a SpriteAnimation using a absolute resource id.
	new (id = #700, name = "Stars") {
		sprites = #700;
		size = 10 10;
		tiles = 1 1;
	}

}

declare Asteroid {
	
	new(id = #128) {
		strength = 50;
		yield = metal 20;
		particles = 4 rgb(200 100 0);
		fragments = 3 #128 unused;
	}

}