@define {
	` The name refers to the name that will be used within KDL.
	name = "FooBar";

	` The code refers to the 4 character resource type code that
	` actually represents this type when encoded into a resource
	` file.
	code = "fööb";

	` The field is a single value that is contained in the resource
	` type. The field provides information that the assembler 
	` needs to determine what values it should be seeing, and how
	` they should be encoded.
	field("bar") {

	};
}