` This is a test KDL document.
` KDL is the Kestrel Definition Language.

` This test will cause the assembler to output the message, "Hello World",
` to the console.

@out { "Hello, World" }


declare Asteroid {

	new (id = #128, name = "Small Metal") {

		sprite = new {
			sprites = import("asteroids/small-metal.png") as PNG;
			size = 30 30;
			tiles = 1 10;
		};

		mass = 100;

	};

}